<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    <meta name="centrifugo-url" content="{{ centrifugo_url }}">#}
    {#    <meta name="centrifugo-user" content="{{ app.user.id }}">#}
    {#    <meta name="centrifugo-token" content="{{ centrifugo_token() }}">#}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="c-app">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <span class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
            <img src="/svg/brand/cib-angular.svg" alt="signet">
        </span>
        <span class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
            <img src="/svg/brand/cib-angular.svg" alt="signet">
        </span>
    </div>
    <ul class="c-sidebar-nav">
        {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
    </ul>
</div>
<div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
        <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
            <span class="c-icon c-icon-lg">
                <img src="/svg/free/cil-menu.svg" alt="bhgfh">
            </span>
        </button>
        <ul class="c-header-nav d-md-down-none">
{#            {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}#}
        </ul>
        <ul class="c-header-nav ml-auto mr-4">
            {% if is_granted('ROLE_USER') %}
                <li class="c-header-nav-item dropdown">
                        <a class="c-header-nav-link" data-toggle="dropdown" href="#"
                                                              role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.display | default("")}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pt-0">
                            <a class="dropdown-item" href="{{ path('profile') }}"><i class="fa fa-user"></i> Profile</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-lock"></i> Logout</a>
                        </div>
                </li>
            {% else %}
                <li class="c-header-nav-item px-1"><a class="c-header-nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li class="c-header-nav-item px-1"><a class="c-header-nav-link" href="{{ path('auth.signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
        <div class="c-subheader px-3">
            <!-- Breadcrumb-->
            <ol class="breadcrumb border-0 m-0">
                {% block breadcrumbs %}{% endblock %}
                <!-- Breadcrumb Menu-->
            </ol>
        </div>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                {% include '_flashes.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="c-footer">
            <div>
                <span>© {{ "now"|date("Y") }} All rights reserved</span>
            </div>
        </footer>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
